{% extends "masterpage.html" %}

{% block content %}


<div class="container">
<div class="login-container">
    {% if form.errors %}
    <div>Selected user does not exist. Check if the Caps Lock is on and try to log in again.</div>
  {% endif %}
    <div class="row">

    <div class="main">

      <h3>Log in or create <a href="{% url 'users:register'%}">a new account</a></h3>
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6">
            <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-lg btn-primary btn-block">Login with Facebook</a>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6">
            <a href="{% url 'social:begin' 'github' %}" class="btn btn-lg btn-info btn-block">Login with GitHub</a><br>
        </div>
          <div class="col-xs-6 col-sm-6 col-md-6">
            <a href="{% url 'social:begin' 'twitter' %}" class="btn btn-lg btn-info btn-block">Login with Twitter</a><br>
        </div>
          <div class="col-xs-6 col-sm-6 col-md-6">
            <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-lg btn-primary btn-block">Login with Google</a>
          </div>
      </div>
      </div>
      <div class="login-or">
        <hr class="hr-or">
        <span class="span-or"></span>
      </div>

      <form method="post" role="form" action="{% url 'login' %}">
          {% csrf_token %}
<div>
  <td>{{ form.username.label_tag }}</td>
  <td>{{ form.username }}</td>
</div>
<div>
  <td>{{ form.password.label_tag }}</td>
  <td>{{ form.password }}</td>
</div>

        <button type="submit" class="btn btn-primary" value="login">
          Log In
        </button>
      </form>

    </div>

  </div>
</div>
</div>

{% endblock %}