{# <!--not yet used--> #}
{##}
{#{% load pagination_tags %}#}
{#{% autopaginate questions 10 %}#}
{#{% for question in questions %}#}
{#    {% include 'question_shortcut.html' %}#}
{#{% endfor %}#}
{#{% paginate %}#}
{##}
{#<div class="col-md-10 panel post">#}
{#    <div class="panel-body click-for-more">#}
{#        Looking for more? Browse the <a href="#">complete list of questions</a>, or<a href="#">popular tags</a>. Help us#}
{#        answer unanswered questions.<br>#}
{#        Haven't found question you're looking for?<a href="{% url 'posts:new_question' %}">Ask a question</a>!#}
{#    </div>#}
{#</div>#}