<div class="panel-body">
    <div class="post-row">
        <div class="col-md-1 col-xs-1">
            <table class="post-details">
                <tr><td>^</td></tr>
                <tr><th>{{ answer.votes.count }}</th></tr>
                <tr><td>v</td></tr>
            </table>
        </div>
        <div class="col-md-11 panel post">
            <div class="panel-heading">
                {{ answer.content }}
            </div>
            <div class="panel-body panel-body-right">
                answered {{ answer.get_time_diff }} sec ago by
                <a href={% url 'users' %}>{{ answer.published_by }}</a>
            </div>
        </div>
    </div>
</div>