
{% extends 'masterpage.html' %}
{% block content %}
<div class="panel">
    <div class="panel-heading">
      <ul class="nav nav-tabs">
        <li role="presentation" {% if selected_tab == 'last' %}class="active"{% endif %}><a href={% url 'latest_question_list' %}>Last questions</a></li>
        <li role="presentation" {% if selected_tab == 'week' %}class="active"{% endif %}><a href={% url 'topweek_question_list' %}>Top week</a></li>
        <li role="presentation" {% if selected_tab == 'month' %}class="active"{% endif %}><a href={% url 'topweek_question_list' %}>Top month</a></li>

      </ul>

    </div>

    {%  for question in questions %}
        {% include 'question_shortcut.html' %}
    {% endfor %}


      <div class="col-md-10 panel post">
          <div class="panel-body click-for-more">
              Szukasz czegoś więcej? Przeszukaj <a href="#">listę wszystkich pytań</a> albo <a href="#">popularnych tagów</a>!
          </div>
      </div>
</div>
{% endblock %}