
{% extends 'masterpage.html' %}
{% block title %}Overboard - Home{% endblock %}
{% block content %}

<div class="panel">
    <div class="panel-heading">
      <ul class="nav nav-tabs">
        <li role="presentation" {% if selected_tab == 'last' %}class="active"{% endif %}><a href={% url 'latest_question_list' %}>Last questions</a></li>
        <li role="presentation" {% if selected_tab == 'week' %}class="active"{% endif %}><a href={% url 'top_week_questions' %}>Top week</a></li>
        <li role="presentation" {% if selected_tab == 'month' %}class="active"{% endif %}><a href={% url 'top_month_questions' %}>Top month</a></li>

      </ul>

    </div>
    {% include "questions_list.html" %}
</div>
{% endblock %}