<!-- howdy/templates/index.html -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Index</title>
    </head>
    <body>
        <h1>Placeholder</h1>
        {% if notification_list %}
        Notifications:
        <ul>{% for notification in notification_list %}
            <li>{{ notification.notification_text }}</li>
        {% endfor %})
        </ul>
        {% else %}
        <p>No data in database. Add a notification to test.</p>
        {% endif %}
     <a href="/page/">Page</a>
    </body>
</html>