{% extends 'masterpage.html' %}

{% block title %}New question{% endblock %}

{% block content %}


    <form action="{% url "new_question" %}" method="POST" class="login-container">
        {% csrf_token %}
        <div class="login-container">
            <div class="col-md-12 panel post">
            <div class="panel-heading">
                {{ form }}
            </div><br>
            <div class="panel-footer">
                asked on {% now "jS F Y H:i" %} by {{ user }}</div>
            </div>
        </div>
        <button type="submit" class="btn btn btn-primary" value="Submit">
          Send
        </button>
    </form>

{% endblock %}