{% extends 'masterpage.html' %}

{% block title %}
    {{question.title}}
{% endblock %}

{% block content %}
<div>
    <div>
        <h1>{{ question.title }}</h1>
        <hr>
    </div>

    <div class="container">
        <div class="panel-group">
            <div class="panel-body">
                <div class="post-row">
                    <div class="col-md-1 col-xs-1">
                        <div class="vote-area">

                            <div class="item move-left">
                                <form action="/questions/{{question.id}}/" method="post">
                                    {% csrf_token %}
                                    <input id="user" type="hidden" name="user" value="{{user.get_username}}">
                                    <input id="question" type="hidden" name="question" value="{{question.id}}">
                                    <input id="vote" type="hidden" name="vote" value="1">
                                    <button class="unstyled" type="submit">
                                    <i id="upvote"
                                       class="{% if previous_vote == 1 %}icon-success{% endif %} glyphicon glyphicon-chevron-up"
                                     >
                                    </i>
                                    </button>
                                </form>
                            </div>
                            <div class="item top-buffer"><div class="label label-primary">{{ vote_sum.value__sum  }}</div></div>
                            <div class="item move-right top-buffer">
                                <form action="/questions/{{question.id}}/" method="post">
                                    {% csrf_token %}
                                    <input id="user2" type="hidden" name="user" value="{{user.get_username}}">
                                    <input id="question2" type="hidden" name="question" value="{{question.id}}">
                                    <input id="vote2" type="hidden" name="vote" value="-1">
                                    <button class="unstyled" type="submit">
                                    <i id="downvote"
                                       class="{% if previous_vote == -1 %}icon-success{% endif %} glyphicon glyphicon-chevron-down"
                                    ></i>
                                    </button>
                                </form>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-11 panel post">
                        <div class="panel-heading">
                            {{ user.get_username }}
                            {{ question.content }}
                        </div>
                        <div class="panel-body panel-body-right">
                            asked {{ question.get_time_diff }} sec ago by
                            <a href={% url 'users' %}>{{ question.asked_by }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h4>Answers</h4>

        <div class="panel-group">
            {% for answer in question.answer_set.all %}
                {% include 'answer_detail.html' %}
            {% endfor %}
        </div>

    {% if user.is_authenticated %}
        {% include "answer_form.html" %}
    {% else %}
        <div class="col-md-10 panel post">
          <div class="panel-body click-for-more">
              Znasz odpowiedź na to pytanie? <a href="{% url "login" %}">Zaloguj się</a>, aby móc jej udzielić!
          </div>
      </div>
    {% endif %}
    </div>
</div>

{% endblock %}