{% extends 'masterpage.html' %}

{% block title %}
{{otheruser.username}}
{% endblock %}

{% block content %}
<div style="margin: 0 10%;">
    <div>
        <h5>Profile page</h5>
        <hr>
    </div>
    <div>
        <p>Username: </p>
        <h1>{{otheruser.username }}</h1><br>
        <p>Name: </p>
        <h4>{{ otheruser.first_name }} {{ otheruser.last_name }}</h4><br>
        {% if user.is_authenticated %}
        <p>Mail: </p>
        <h4>{{ otheruser.email }}</h4><br>
        {% endif %}
        <hr>
    </div>

    <div class="container">
        <h4>User's questions: {{ otheruser.question_set.count }}</h4>

        <div class="panel-group">
            {% for question in otheruser.question_set.all %}
            <div class="panel-body">
                <div class="post-row">
                    <div class="col-md-1 col-xs-1">
                        <table class="post-details">
                            <tr>
                                <td>votes</td>
                            </tr>
                            <tr>
                                <th>{{ question.votes.count }}</th>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-11 panel post">

                        <div class="panel-heading">
                            <a href="{% url 'question_detail' question.id %}">{{ question.title }}</a>
                        </div>

                        <div class="panel-body">
                            {% for tag in question.tag_set.all %}
                            <button class="btn" onclick="location.href='{% url 'tag_page' tag.id %}'" type="button">{{ tag.tag_name }}
                            </button>
                            {% endfor %}
                        </div>

                        <div class="panel-body panel-body-right">
                            answers: {{ question.answer_set.count }}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>


</div>

{% endblock %}