
.footer {
  background-color: #686868;
  padding: 2%;
  bottom:0;
}

.footer p {
  text-align: right;
  color: #A9A9A9;
  font-size: small;
}

.post .panel-footer .panel-body-right{
  text-align: right;
}


.post .panel-heading{
  font-size: large;
  padding-bottom: 0;
}

.post-details {
  width: 100%;
  font-size: small;
  text-align: center;
  margin-top: 25%;
}

.post-details th {
  text-align: center;

}

.click-for-more{
  margin-top: 4%;
  margin-bottom: 4%;
}

.login-container{
  width: 500px;
  margin: 0 auto;
  padding-bottom: 5%;
  padding-top: 3%;
}

.w{
  background-color: white;
}